.ratingWrapper {
    display: flex;
    position: relative;
    justify-content: center;
}

.starWrapper {
    display: flex;
    justify-self: center;
}

.star {
    transition: all 0.2s;
    padding: 0 2.5px;
}

.filled {
    fill: var(--primary);
}

.editable {
    cursor: pointer;
}

.ratingError svg {
    overflow: visible;
    stroke: var(--red);
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    width: 100%;
    left: 0;
    color: var(--red);
}
