.sort {
    /* display: inline-block; */
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    cursor: pointer;
    justify-content: flex-start;
    user-select: none;
}

.sort button {
    font-size: 16px;
    line-height: 22px;
    border: none;
    background: none;
}

.active {
    color: var(--primary);
    font-weight: 700;
}

.sortIcon {
    display: none;
}

.active .sortIcon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
