html,
body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background: var(--bg-gray);

    font-family: "Noto Sans", sans-serif;
}

:root {
    --black: #3b434e;
    --gray-dark: #4d504a;
    --gray: #8a8e85;
    --gray-light: #cecece;
    --white: #fff;
    --primary: #7653fc;
    --primary-hover: #6344df;
    --red: #fc836d;
    --green: #1dc37e;
    --green-light: #c8f8e4;
    --bg-gray: #f5f6f8;
    --noto-sans: "Noto Sans", sans-serif;
}
