html,
body {
    margin: 0;
    padding: 0;
    color: var(--black);
    background: var(--bg-gray);

    font-family: "Noto Sans", sans-serif;
}

.visualyHidden {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
}

:root {
    --black: #3b434e;
    --gray-dark: #4d504a;
    --gray: #6e716a;
    --gray-light: #cecece;
    --white: #fff;
    --primary: #4c63e6;
    --primary-hover: #3c51c9;
    --red: #fc836d;
    --red-light: #ffc0b7;
    --green: #007b48;
    --green-light: #c8f8e4;
    --bg-gray: #f5f6f8;
    --noto-sans: "Noto Sans", sans-serif;
}
